In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('C:/Users/meylia/Documents/tp/MergedJogjaCleanFixCSV.csv')

df.describe()

,PM10,PM2.5,SO2,CO,O3,NO2
count,8570.000000,8570.000000,7742.000000,8569.000000,7305.000000,8569.000000
mean,25.969895,41.947025,18.926505,13.431206,22.595893,6.930447
std,17.382096,26.397298,14.115260,7.277558,17.755493,7.526134
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,14.000000,22.000000,10.000000,8.000000,5.000000,3.000000
50%,19.000000,37.000000,19.000000,11.000000,22.000000,4.000000
75%,34.000000,59.000000,24.000000,19.000000,35.000000,7.000000
max,179.000000,174.000000,82.000000,43.000000,151.000000,63.000000

In [4]:
df = pd.read_csv('C:/Users/meylia/Documents/tp/MergedJogjaCleanFixCSV.csv')

df.head(100)

,Date,PM10,PM2.5,SO2,CO,O3,NO2,Max,Critical Component,Category
0,1/1/2021 00:00:00,13.0,40.0,0.0,25.0,0.0,0.0,40,PM2.5,BAIK
1,1/1/2021 01:00:00,12.0,38.0,0.0,24.0,0.0,0.0,38,PM2.5,BAIK
2,1/1/2021 02:00:00,11.0,35.0,0.0,23.0,0.0,0.0,35,PM2.5,BAIK
3,1/1/2021 03:00:00,10.0,32.0,0.0,22.0,0.0,0.0,32,PM2.5,BAIK
4,1/1/2021 04:00:00,9.0,29.0,0.0,21.0,0.0,0.0,29,PM2.5,BAIK
...,...,...,...,...,...,...,...,...,...,...
95,1/4/2021 23:00:00,7.0,33.0,0.0,21.0,0.0,0.0,33,PM2.5,BAIK
96,1/5/2021 00:00:00,6.0,31.0,0.0,21.0,0.0,0.0,31,PM2.5,BAIK
97,1/5/2021 01:00:00,6.0,31.0,0.0,21.0,0.0,0.0,31,PM2.5,BAIK
98,1/5/2021 02:00:00,6.0,32.0,0.0,21.0,0.0,0.0,32,PM2.5,BAIK
99,1/5/2021 03:00:00,6.0,32.0,0.0,21.0,0.0,0.0,32,PM2.5,BAIK

In [5]:
print("Missing values distribution: ")
print(df.isnull().mean())
print("")

Missing values distribution:
Date                  0.000000
PM10                  0.021689
PM2.5                 0.021689
SO2                   0.116210
CO                    0.021804
O3                    0.166096
NO2                   0.021804
Max                   0.000114
Critical Component    0.021689
Category              0.000228
dtype: float64

In [6]:
print("Column datatypes: ")
print(df.dtypes)

Column datatypes:
Date                   object
PM10                  float64
PM2.5                 float64
SO2                   float64
CO                    float64
O3                    float64
NO2                   float64
Max                    object
Critical Component     object
Category               object
dtype: object

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
to_drop = ['Max',
           'Critical Component']

In [9]:
df.drop(to_drop, inplace=True, axis=1)

In [10]:
df.head()

                Date  PM10  PM2.5  SO2    CO   O3  NO2 Category
0  1/1/2021 00:00:00  13.0   40.0  0.0  25.0  0.0  0.0     BAIK
1  1/1/2021 01:00:00  12.0   38.0  0.0  24.0  0.0  0.0     BAIK
2  1/1/2021 02:00:00  11.0   35.0  0.0  23.0  0.0  0.0     BAIK
3  1/1/2021 03:00:00  10.0   32.0  0.0  22.0  0.0  0.0     BAIK
4  1/1/2021 04:00:00   9.0   29.0  0.0  21.0  0.0  0.0     BAIK

In [11]:
print("Missing values distribution: ")
print(df.isnull().mean())
print("")

Missing values distribution:
Date        0.000000
PM10        0.021689
PM2.5       0.021689
SO2         0.116210
CO          0.021804
O3          0.166096
NO2         0.021804
Category    0.000228
dtype: float64